# The user that can connect to the weather database
DBUSER=weather

# The password for the user in the weather database
DBPASS=test

# The host containing the weather database
DBHOST=localhost

# The MySQL database name with the weather data
DBDATABASE=weather

# The number of minutes to look back for averages
# Should be the same as the time between reports
AVERAGE_MINUTES=5

# The latitude of your weather station, in decimal degrees
STATION_LAT_DEG=37.793400

# The longitude of your weather station, in decimal degrees
STATION_LONG_DEG=-122.399776
